.grid {
    display: inline-block;
    min-width: 40pt;
    min-height: 40pt;
    line-height: 40pt;
    border-radius: 2pt;
    margin: 2pt 1pt;
    vertical-align: middle;
    border: solid darkgray 1pt;
    font-weight: 500;
    font-size: 20pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.correct {
    background-color: green;
}

.contains {
    background-color: yellow;
}

.dne {
    background-color: gray;
}